@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  html {
    scrollbar-gutter: stable;
  }

  html,
  body {
    color: var(--foreground);
    font-family: var(--font-family-body);
    font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
    padding: 0;

    @media (width >= 768px) and (width <= 1023px) {
      font-size: clamp(0.875rem, 0.8125rem + 0.25vw, 0.9375rem);
    }

    @media (width >= 1024px) {
      font-size: clamp(0.825rem, 0.772rem + 0.35vw, 0.881rem);
    }

    @media (width >= 1440px) {
      font-size: clamp(0.881rem, 0.828rem + 0.263vw, 0.991rem);
    }
  }

  body {
    line-height: 1;
    background-color: var(--background);
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
  }

  img {
    max-width: 100%;
  }

  [hidden],
  .hidden {
    display: none;
  }

  strong,
  b {
    font-weight: bold;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }

  button {
    cursor: pointer;
  }
}
