.iconOnly {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 0;
}

.labeled {
  align-items: center;
  display: inline-flex;
  line-height: inherit;
}

.variantdefault {
  composes: iconactionscale from "./action-icon-hover.module.css";
}

.variantplus {
  composes: iconactionplus from "./action-icon-hover.module.css";
}

.variantminus {
  composes: iconactionminus from "./action-icon-hover.module.css";
}

.variantclose {
  composes: iconactionrotate from "./action-icon-hover.module.css";
}

.variantexternal {
  composes: iconactionexternal from "./action-icon-hover.module.css";
}

.variantqueue {
  composes: iconactionqueuesubtle from "./action-icon-hover.module.css";
}

.icon {
  composes: icon from "./action-icon-hover.module.css";
}
