.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.contentWithSkeleton {
  min-height: 0;
}

.loaderArea {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  justify-content: center;
}
