.desktopCrateButton {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.crateCount {
  align-items: center;
  background: var(--card);
  border-radius: var(--radius-full);
  color: var(--primary);
  display: flex;
  font-size: var(--text-xxs);
  font-weight: var(--font-bold);
  height: var(--space-5);
  justify-content: center;
  min-width: var(--space-5);
  padding: 0;

  @media (min-width: 1024px) {
    font-size: var(--text-xs);
    height: var(--space-5);
    min-width: var(--space-5);
  }
}
