.filtersContainer {
  display: none;

  @media (min-width: 1024px) {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--space-4);
    justify-content: flex-start;
    margin: 0 var(--space-4);
  }
}

.searchBar {
  flex: 1;
}

.styleFilterGroup {
  align-items: flex-end;
  display: flex;
  gap: var(--space-2);

  & > :first-child {
    flex: 1;
  }
}
