.filtersBar {
  display: none;

  @media (min-width: 1024px) {
    align-items: center;
    background: var(--muted);
    border-bottom: 1px solid var(--border);
    display: block;
    height: var(--filters-bar-height);
    padding: 0;
    position: sticky;
    top: var(--sticky-header-height);
    width: 100%;
    z-index: var(--z-2-sticky);
  }

  .desktopFilters {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--space-4);
  }

  .searchBar {
    flex: 2;
  }

  .styleFilterGroup {
    flex: 2;
    align-items: stretch;
    display: flex;
    gap: var(--space-1);

    & > :first-child {
      flex: 4;
    }
  }

  .mobileFilters {
    display: none;
  }

  .crateCount {
    align-items: center;
    background: var(--card);
    border-radius: var(--radius-full);
    color: var(--primary);
    display: flex;
    font-size: var(--text-xxs);
    font-weight: var(--font-bold);
    height: var(--space-5);
    justify-content: center;
    min-width: var(--space-5);
    padding: 0;

    @media (min-width: 1024px) {
      font-size: var(--text-xs);
      height: var(--space-5);
      min-width: var(--space-5);
    }
  }
}
