.title {
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > svg {
    height: auto;
    object-fit: contain;
  }
}
