.title {
  align-items: center;
  color: var(--foreground);
  display: flex;
  justify-content: flex-start;
  margin: 0;
  white-space: nowrap;

  > svg {
    height: auto;
    object-fit: contain;
    max-width: 180px;

    @media (min-width: 768px) {
      max-width: 225px;
    }
  }
}
