.listItem.listItem {
  gap: var(--space-2);
}

.listItemInCrate {
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary-hover);
  }
}

.listItemMain.listItemMain {
  gap: var(--space-2);
}

.itemImage.itemImage {
  height: 5rem;
  width: 5rem;

  @media (width < 1024px) {
    height: 3.75rem;
    width: 3.75rem;
  }
}

.listItemActions.listItemActions {
  flex: 0 0 3rem;
  width: 3rem;

  @media (width < 1024px) {
    flex: 0 0 2.75rem;
    width: 2.75rem;
  }
}

.itemContent {
  gap: 0;
  padding: var(--space-1) var(--space-1) var(--space-1) 0;

  & > * {
    line-height: 1;
  }
}
