[data-theme="dim"] {
  color-scheme: light;

  --background: #a3a3a3;
  --gradient-surface: color-mix(
    in oklch,
    var(--gradientGray) 70%,
    var(--background)
  );
  --pill-style-foreground: #14532d;
  --pill-style-border: #15803d;
  --pill-style-selected-foreground: #fff;
  --pill-format-foreground: #78350f;
  --pill-format-border: #92400e;
}
