@import "./custom-media.css";
@import "./pills.css";
@import "./themes/index.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  color: var(--foreground);
  font-family: var(--font-assistant), sans-serif;
  font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
  padding: 0;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: clamp(0.875rem, 0.8125rem + 0.25vw, 0.9375rem);
  }

  @media (min-width: 1024px) {
    font-size: clamp(0.825rem, 0.772rem + 0.35vw, 0.881rem);
  }

  @media (min-width: 1440px) {
    font-size: clamp(0.881rem, 0.828rem + 0.263vw, 0.991rem);
  }
}

body {
  line-height: 1;
  background-color: var(--background);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

[hidden],
.hidden {
  display: none;
}

strong,
b {
  font-weight: bold;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.typography-h1 {
  font-family: inherit;
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: 1;
}

.typography-p {
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  line-height: 1.5;
  padding-bottom: var(--space-6);

  @media (min-width: 768px) {
    font-size: var(--text-lg);
  }

  &:empty {
    display: none;
    padding: 0;
  }
}

.typography-ol {
  align-items: stretch;
  display: flex;
  flex-flow: column wrap;
  gap: var(--space-5);
  list-style-type: none;
  padding-left: 0;

  @media (min-width: 768px) {
    flex-flow: row wrap;
  }
}

.typography-li {
  font-weight: normal;
  line-height: 2.25;
  padding: 0;
  text-align: left;
  width: 100%;
}

.typography-span {
  display: flex;
  line-height: 1.25;
  padding: var(--space-1) 0;
  text-align: left;
}

.typography-span-small {
  font-size: var(--text-sm);
}

.layout-container {
  width: 100%;
}

.layout-content {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: flex-start;
  padding: 0 var(--space-8) var(--space-16);
}

.layout-footer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  & p {
    max-width: 70ch;
  }
}

.layout-sticky-header {
  align-items: center;
  background: var(--sticky-header-background, var(--background));
  border-bottom: 1px solid var(--border);
  display: flex;
  height: var(--sticky-header-height);
  justify-content: center;
  padding: 0 var(--space-4);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--z-3-fixed);

  & > *:not(h1) {
    flex: 1;
  }
}
