.spinner {
  animation: spin 0.7s linear infinite;
  border: 3px solid var(--border);
  border-radius: var(--radius-full);
  border-top-color: var(--primary);
  display: inline-block;
  vertical-align: middle;
}

.xs {
  height: var(--space-4);
  width: var(--space-4);
}

.sm {
  height: var(--space-5);
  width: var(--space-5);
}

.md {
  height: var(--space-6);
  width: var(--space-6);
}

.lg {
  height: var(--button-height-sm);
  width: var(--button-height-sm);
}

.xl {
  height: var(--button-height-md);
  width: var(--button-height-md);
}

.twoXl {
  height: var(--space-12);
  width: var(--space-12);
}

.threeXl {
  height: 3.125rem;
  width: 3.125rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
