.popup {
  composes: backdroppanel from "../../../styles/modal-dialog.module.css";
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: calc(var(--z-6-popover) + 1);
}

.popupModal {
  composes: backdroppanel from "../../../styles/modal-dialog.module.css";
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: calc(var(--z-5-modal) + 1);
}
