.iframeHidden,
.iframeVisible {
  --youtube-iframe-height: 360px;
  --youtube-iframe-width: 640px;

  border: 0;
  height: var(--youtube-iframe-height);
  width: var(--youtube-iframe-width);
}

.iframeHidden {
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
}

.iframeVisible {
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transform: scale(calc(100cqw / var(--youtube-iframe-width)));
  transform-origin: 0 0;
}
