.pageContainer {
  background: var(--background);
  min-height: 100vh;
  width: 100%;
}

.pageContent {
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  justify-content: flex-start;
  padding: var(--space-8);
  width: 100%;

  @media (--tablet-up) {
    flex-direction: row;
    justify-content: flex-end;
  }
}
