.headerContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
  height: 100%;
  justify-content: space-between;
  padding: 0;
  position: relative;
  width: 100%;

  @media (min-width: 481px) {
    gap: var(--space-2);
  }

  @media (min-width: 1024px) {
    gap: var(--space-4);
  }
}

.desktopNav {
  display: none;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  @media (min-width: 1024px) {
    display: block;
  }
}

.mobileMenu {
  display: block;
  margin-left: auto;

  @media (min-width: 1024px) {
    display: none;
  }
}
