.headerContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
  justify-content: space-between;
  padding: var(--space-3) 0;
  position: relative;
  width: 100%;

  @media (--mobile-up) {
    gap: var(--space-2);
  }

  @media (--tablet-up) {
    gap: var(--space-4);
    padding: var(--space-1) 0;
  }
}

.desktopNav {
  display: none;

  @media (--tablet-up) {
    display: block;
  }
}

.mobileMenu {
  display: block;
  margin-left: auto;

  @media (--tablet-up) {
    display: none;
  }
}
